:root{
    --bg-violet: hsl(273, 75%, 66%);
    --bg-softBlue: hsl(240, 73%, 65%);
    
    --txt-darkBlue: hsl(238, 29%, 16%);
    --txt-softRed: hsl(14, 88%, 65%);
    --txt-veryDarkGreyBlue: hsl(237, 12%, 33%);
    --txt-darkGreyBlue: hsl(240, 6%, 50%);

    --dvdr-lightGreyBlue: hsl(240, 5%, 91%);

    --ff-kumbh-sans: 'Kumbh Sans', sans-serif; 
}

* {
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(180deg, var(--bg-violet) 0%, var(--bg-softBlue) 100%);
    height: 100vh;
    /* Center the card */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}


#faq-card{
    border: 2px solid red;
    max-width: 20rem;
    min-height: 30rem;
    background-color: white;
    border-radius: 20px;
    padding-bottom: 3em;
}

#faq-card-h1{
    font-family: var(--ff-kumbh-sans);
    font-weight: 700;
    color: var(--txt-darkBlue);
    margin-top: 7rem;
    margin-bottom: 0.75em;
}

details{
    font-family: var(--ff-kumbh-sans);
    color: var(--txt-darkGreyBlue);
    text-align: left;
    padding: 1em;
    border-bottom: 1px solid var(--dvdr-lightGreyBlue);
    margin-left: 1em;
    margin-right: 1em;
}

summary{
    background: url(./images/icon-arrow-down.svg) right no-repeat;
    list-style: none;
    cursor: pointer; 
    padding-right: 1em;
}

details[open] summary {
    font-weight: 700;
    color: var(--txt-darkBlue);
}

.faq-paragragh{
    margin-top: 1em;
}

.attribution{
    position: fixed;
    bottom: 0;
    display: none;
}