:root{
    --bg-violet: hsl(273, 75%, 66%);
    --bg-softBlue: hsl(240, 73%, 65%);
    
    --txt-darkBlue: hsl(238, 29%, 16%);
    --txt-softRed: hsl(14, 88%, 65%);
    --txt-veryDarkGreyBlue: hsl(237, 12%, 33%);
    --txt-darkGreyBlue: hsl(240, 6%, 50%);

    --dvdr-lightGreyBlue: hsl(240, 5%, 91%);

    --ff-kumbh-sans: 'Kumbh Sans', sans-serif; 

    --arrow-icon: url(./images/icon-arrow-down.svg);
}

* {
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(180deg, var(--bg-violet) 0%, var(--bg-softBlue) 100%);
    height: 100vh;
    padding: 3rem;
    /* Center the card */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

#img-mobile{
    max-width: 16rem;
    z-index: 1000;
    margin-top: -35%;

}

#bg-shadow-mobile{
    margin-top: -25%;
    min-width: 16rem;
}

#faq-card{
    min-width: 20rem;
    max-width: 20rem;
    min-height: 28rem;
    background-color: white;
    border-radius: 20px;
    padding-top: 0em;
    padding-bottom: 3em;
}

#faq-card-h1{
    font-family: var(--ff-kumbh-sans);
    font-weight: 700;
    color: var(--txt-darkBlue);
}


.faq-details{
    font-family: var(--ff-kumbh-sans);
    font-size: 14px;
    color: var(--txt-darkGreyBlue);
    text-align: left;
    padding-top: 2em;
    padding-bottom: 2em;
    border-bottom: 1px solid var(--dvdr-lightGreyBlue);
    margin-left: 1em;
    margin-right: 1em;
}

.arrow-icon{
    position: relative;
    float: right;
    padding-top: 0;
    margin-top: 0;
    margin-right: 0;
}
.faq-summary{
    list-style: none;
    cursor: pointer;
}
    

/* animate summary font change on click */
details[open] .faq-summary {
    font-weight: 700;
    color: var(--txt-darkBlue);
}

/* animate paragragh transition with keyframes */
details[open] .faq-paragragh {
    animation: sweep 0.065s ease-in-out;
}

/* animate orange click down arrow to flip on click */
details[open]  .arrow-icon {
    transform: rotate(180deg);
}

.faq-paragragh{
    margin-top: 1em;
}

.attribution{
    position: fixed;
    bottom: 0;
    display: none;
}

@media screen and (min-width: 375px) {
    #img-mobile{
        display: none;
    }
    #bg-shadow-mobile{
        display: none;
    }
    #faq-card{
        min-width: 50rem;
        display: grid;
        grid-template-columns: 50% 50%;

    }
    #faq-card-h1{
        padding-top: 4rem;
        grid-column: 2;
        display: flex;
        align-items: left;
    }
    .faq-details{
        grid-column: 2;
        /* margin: 0;
        padding: 0; */
    }
}

@keyframes sweep {
    from {
        opacity: 0; margin-top: -10px;
    }
    to {
        opacity: 0; margin-top: 0;
    }
}

